* {
    background-color: rgb(251, 252, 252);
    
    
}

h1 {
    color: rgb(0, 11, 163);
    font-weight: 800;
}

p {
    font-weight: bold;
}

button {
    text-decoration: solid;
    border-radius: 30px;
}

.alert {
    background-color: aqua;
    font-weight: 900;
}